.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
  width: 80%;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: var(--color-news-bg);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: var(--color-news-bg-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;

  &.strong{
  font-weight: bold;
  margin-bottom: 0;
}
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.news_card .cta_btn {
  justify-self: center;
}
.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--color-cta-card-bg);
  color: var(--color-text-inverted);
  text-decoration: none;
  width: max-content;
  border-radius: var(--border-radius);
}
.news_card .cta_btn {
  background-color: var(--color-cta-newscard-bg);
}
.news_card:nth-of-type(2n) .cta_btn {
  background-color: var(--color-cta-newscard-bg-inverted);
  color: var(--color-text);
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}

/* news */
[popover] {
  padding: 1rem 0;
  max-height: 90vh;
  max-width: 80ch;
  width: 90vw;
  margin: auto;
  opacity: 0;
  transition: 350ms allow-discrete;
  scale: 0;

  &:popover-open {
    opacity: 1;
    border-radius: 25px;
    border: 0;
    scale: 1;

    &.artikel h4 {
      padding: 15px;
      margin-bottom: 1em;
      background-color: var(--color-head-bg);
      font-size: var(--font-h2-size);
      color: var(--color-text-inverted);
      font-weight: var(--font-weight-bold);
      line-height: 1.3rem;
      text-align: left;
      width: calc(80% - 6rem);
      line-height: 2ch;
      grid-column: 1/2;
    }
    &.artikel .text {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &.artikel p {
      padding: 0 30px;
    }

    &.artikel .news_top {
      display: grid;
      grid-template-columns: 9fr 1fr;
    }
  }

  @starting-style {
    &:popover-open {
      opacity: 0;
      scale: 0;
    }
  }

  &::backdrop {
    opacity: 0;
    transition: 0.5s allow-discrete;
    background: #0008;
    backdrop-filter: blur(1.5px);
  }

  &:popover-open::backdrop {
    opacity: 1;
  }

  @starting-style {
    &:popover-open::backdrop {
      opacity: 0;
    }
  }
}

.artikel .cta_btn {
  position: sticky;
  top: 0;
  justify-self: end;
  margin: 0 30px;
  border-radius: 0;
  border: 0;
  background-color: #6f90eb;
  padding: 0 0.5em;
  grid-column: -1/-2;

  &::after {
    content: none;
  }
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
