:root {
  color-scheme: light;

  /* Colours */
  --color-bg: light-dark(#fceb94, #707070); /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;
  --color-head-text: #fffae2;

  /* Logotype */
  --color-logotype-bg: light-dark(#000000, #272727);
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-text:#000000;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 50px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 2rem;
  --font-h2-size: 1.3rem;
  --font-h3-size: 1.5rem;
  --color-headline-bg: light-dark(#000000, #fffae2);
  --color-headline-text-page: light-dark(#fffae2, #272727);

  /* Tekst */
  --color-text: light-dark(#000000, #fffae2);
  --color-text-inverted: light-dark(#fffae2, #272727);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 30px;

  /* Cards */
  --color-card-bg: light-dark(#fff, #272727);
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #494949);
  --color-news-bg-inverted: light-dark(#dbe2f5, #272727);
  --color-cta-newscard-bg: light-dark(#ffa680, #8f6655);
  --color-cta-newscard-bg-inverted: light-dark(#6f90eb, #3f4860);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1.6rem;
  --headline3-size: 1.5rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#fff, #272727);
  --color-infobox-1-bg: light-dark(#fceb94, #777153);
  --color-infobox-2-bg: light-dark(#def5db, #586556);
}

:root.dark {
  color-scheme: dark;
}
