#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--color-card-bg);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/* Form layout */
form {
  accent-color: #ff4b00;
  display: grid;
  gap: 0.7rlh;
  padding: 1rlh 0;
}

.form-group {
  display: grid;
  gap: 0;
  padding: 0 1rlh;
}

/* Generelle styles */
input {
  padding: 0.25rlh;
}

button {
  background-color: #ff4b00;
  color: #fffae2;
  border-radius: 5px;
  padding: 0.4em;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  border: 0;
  margin: 0 1rlh;

  &:hover {
    background: #ffa680;
  }

  &:active {
    scale: 0.98;
  }

  &:after {
    content: " \2192";
  }
}

textarea,
select {
  background-color: #dbe2f5;
  border-radius: 15px;
  border: 0;
  padding: 0.5em 1em;
}

input {
  border: 0;
  background-color: #fffae2;
}

fieldset {
  border: 0;
}

label {
  font-weight: bold;
  padding-top: 0.8em;
  padding-bottom: 0.2em;
  width: fit-content;
}

label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.75ch;
}

form h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  margin-bottom: 1rem;
}

legend p {
  font-weight: bold;
}

fieldset label {
  font-weight: normal;
}
.login-oplysninger {
  background-color: #dbe2f5;
  padding: 2em;
  margin: 1em;
  border-radius: 15px;
}

.login-oplysninger div {
  padding: 0;
}

/* Pseudo-classes */
:focus-visible {
  outline: 2px solid #6a5acd;
  outline-offset: 1px;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: #ff0000;
  }
}

.error-message {
  color: #ff0000;
  display: none;
}
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
  }

  .error-message {
    display: block;
  }
}
